<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
    </title>
    <link rel="stylesheet" href="admin_homepage_style.css"> <!--TODO change this -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <!-- Sidebar Navigation -->
        <aside class="sidebar">
            <a><img src="logo.png" id=logo style="scale:55%; margin: auto; "></a>
            
                
            <nav class="nav-menu">
                <button class="nav-btn">AMP</button>
                <button class="nav-btn">FDQ</button>
                <button class="nav-btn">MPH</button>
                <button class="nav-btn">MS</button>
                <button class="nav-btn" data-category="Logout" id="logout">Logout</button>
            </nav>
        </aside>

        <!-- Main Content Area -->
        <main class="content">
            <div class="content-main">
                <h2>Welcome, Admin <span id="supervisorName" style="font-weight:bold;">[AdminName]</span>!</h2>
                <div class="content-area">
                    <span><h1>Click on an SPU to view SDWs assigned</h1></span>
                </div>
            </div>
        </div>
        </main>
    </div>

 
    

    <script>
        
    </script>
    <script ></script>

</body>

</html>
