<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Supervisor Reports</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="admin_reports_style.css">
</head>



<body>

    <main>
        <div class="container">
        <div class="sidebar">
            <img src="logo.png" style="scale:55%; margin: auto; ">
            <nav class="nav-menu">
                <button class="nav-btn" id="back-btn"> Back to SPUs</button>
                <button class="nav-btn" id="logout"> Logout</button>
            </nav>
        </div>

        <div class="content">
            <div class="content-main">

                <h2> Welcome, <span id="supervisorName">*SupervisorName*!</span> </h2> <!-- Replace with supervisor name here! -->
                <div class="content-bar">
                    <h1> <span id="SDWName">*SDW*</span>'s Records: </h1>
                    
                    <div class="dropdown" style="position:absolute; right:30px">
                        <label>Sort by: </label>
                        <select id="sortMenu">
                            <option value="alphabetical">Alphabetical</option>
                            <option value="lastupdated">Last Updated</option>
                            <!-- Add more options here if needed -->
                        </select>
                    </div>
                </div>
                
                <div class="divButtons">
                        <!-- Add buttons here -->
                        <!-- Add IDs to buttons and the like when needed -->
                    <button class="report-btn"><span>DSWD Annual Report</span></button>
                    <button class="report-btn"><span>Community Profile</span></button>
                    <button class="report-btn"><span>Target Vs ACC & SE</span></button>
                    <button class="report-btn"><span>Caseload Masterlist</span></button>
                    <button class="report-btn"><span>Education Profile</span></button>
                    <button class="report-btn"><span>Assistance to Families</span></button>
                    <button class="report-btn"><span>Poverty Stoplight</span></button>
                    <button class="report-btn"><span>CNF Candidates</span></button>
                    <button class="report-btn"><span>Retirement Candidates</span></button>
                    <button class="report-btn"><span>VM Accomplishments</span></button>
                    <button class="report-btn"><span>Correspondence</span></button>
                    <button class="report-btn"><span>Leaders Directory</span></button>
                        
                </div>
                
            </div>
        </div>
        </div>
    </main>


    <script>
        // insert script here
    </script>
</body>
</html>