body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100px;
    height: 100px;
}

#loginbox{
    background-color:#FFF4F4;
    padding-top: 30px;
    padding-bottom: 40px;

    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;

    border-style: solid;
    border-radius: 50px;
    text-align: center;
}

#email{
    margin:2%;
}

#password{
    margin:2%;
}